{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home{% endblock %}

{% block extra_head %}
<style>
    .nav-li-1{
        list-style-type: none;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    {% include 'navbar.html' %}
    {% if search_res.count == 0 %}
        <p>Sorry! No relevant search results.</p>
    {% endif %}

    {% for item in search_res %}
        <p>{{item}}</p><hr>
    {% endfor %}

    <hr>
    Search Result: {{sr}}
</div>

{% endblock %}